<h1>Discipleship Database</h1>
<p>This is a page for updating the devotional database."

<!--
<div class="jumbotron">
	<h1>Discipler's Web Tools</h1>
	<p>Click here to <%= link_to "Sign up", "#", class: "btn btn-primary btn-lg" %></p>
</div>
-->